img{
    display: inline-block;
    float:left;
    margin: 5px 10px 0px 5px;
    border-radius: 10px;

}
.my-container{
    background-color: gray,0.3;
}
.my-col{
    padding: 20px;
}
p{
    text-align: justify;
}
.thumbnail-size{
    width: 250px;
}